<br>
<div class="row">
  <div class="col-md-12">
    <h3><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h3>
    <br><br>
      <%= form_with model: @customer, url: administrator_customer_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label :"会員ID", class: "control-label a-c-e-1" %>
          <%= f.label :"#{@customer.id}" %>
        </div>
        <div class="form-group">
          <%= f.label :"氏名", class: "control-label a-c-e-2" %>
          <%= f.text_field :first_name, class: "first_name col-sm-3 form-control-static name" %>
          <%= f.text_field :last_name, class: "last_name col-sm-3 form-control-static name" %>
        </div>
        <div class="form-group">
          <%= f.label :"フリガナ", class: "control-label a-c-e-3" %>
          <%= f.text_field :last_name_kana, class: "kana_last_name col-sm-3 form-control-static name" %>
          <%= f.text_field :first_name_kana, class: "kana_first_name col-sm-3 form-control-static name" %>
        </div>
        <div class="form-group">
          <%= f.label :"郵便番号", class: "control-label a-c-e-4" %>
          <%= f.text_field :postcode, class: "col-sm-2 form-control-static" %>
        </div>
        <div class="form-group">
          <%= f.label :"住所", class: "control-label a-c-e-5" %>
          <%= f.text_field :address, class: "col-sm-5 form-control-static" %>
        </div>
        <div class="form-group">
          <%= f.label :"電話番号", class: "control-label a-c-e-6" %>
          <%= f.text_field :phone_number, class: "col-sm-4 form-control-static" %>
        </div>
        <div class="form-group">
          <%= f.label :"メールアドレス", class: "control-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static" %>
        </div>
        <div class="form-group">
          <label for="inputEmail", class: "a-c-e-7"></label>会員ステータス
            <%= f.radio_button :user_status, false, checked: true %>
            <%= f.label :user_status, "有効" %>
            <%= f.radio_button :user_status, true %>
            <%= f.label :user_status, "退会済み" %>
        </div>
        <div class="form-group">
          <%= f.submit "変更を保存", class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>