

<h2>注文情報確認</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <%= @sum = 0 %>
    <% @cart_items.each do |cart| %>
      <%= attachment_image_tag( cart.product, :products_image_id, size: "60x50", fallback: "no_image.jpg") %>
      <%= cart.product.name %>
        ¥<%= (cart.product.non_taxed_price * 1.1).floor %>
        <%= cart.item_quantity %>
        ¥<%= (cart.product.non_taxed_price * 1.1 * cart.item_quantity).floor %>
        <% @sum += (cart.product.non_taxed_price * 1.1 * cart.item_quantity).floor %>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>送料</th>
    <td><%= @order.shipping %></td>
  </tr>
  <tr>
    <th>商品合計</th>
  <tr>
    <td>
      ¥<%= total_price(@cart_items).to_s(:delimited) %>
    </td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td>¥<%= billing(@order).to_s(:delimited) %></td>
  </tr>
</table>

<table>
  <tr>
    <th>支払方法</th>
    <td>
      <% if @order.payment_method = 0 %>
        <p>クレジットカード</p>
      <% else %>
        <p>銀行振り込み</p>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td><%= "#{@order.shipping_postal_code} #{@order.address} #{@order.name}" %></td>
  </tr>
</table>

  <%= form_with model: @order, url: customer_orders_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :shipping_postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :billing, value: @order.billing %>
    <%= f.hidden_field :shipping, value: @order.shipping.to_i %>
    <%= link_to "注文情報入力へ戻る", new_customer_order_path, data: {"turbolinks" => false} %>
    <%= f.submit "購入を確定する" %>
  <% end %>