<h3>商品編集</h3>

<!--1つのデータからしかデータを持ってくることができない(editアクション)-->
<%= form_with model: @product, url: administrator_product_path(@product), method: :patch, local:true do |f| %>
<table>
  <tr>
    <td>
      <%= attachment_image_tag @product, :products_image, size: "100x100", fallback: "no_image.jpg" %><br>
      <%= f.attachment_field :products_image %>
    </td>
    <td>
      商品名　　　　　　<%= f.text_field :name %><br>
      商品説明　　　　　<%= f.text_area :products_explanation %><br>
      ジャンル　　    　<%= f.collection_select(:genre_id, @genres, :name, :name) %>
      税抜価格　　    　<%= f.text_field :non_taxed_price %><br>
      販売ステータス　　<%= f.select :sale_status, [["販売中", "販売中"], ["売り切れ", "売り切れ"]] %><br>
    </td>
    <td>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <%= f.submit "変更を保存" %>
    </td>
  </tr>
</table>
<% end %>