<br>
<h4>商品一覧</h4>
<br>
<div class="col-md-12 col-md-offset-1" style="text-align: right;">
  <%= link_to new_administrator_product_path, class: "btn btn-warning pull-right new_product" do %>
  <i class ="fas fa-plus" ></i>
  <% end %>
</div>
<br>
<table class="table">
  <tr></tr>
  <thead>
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>商品説明</td>
      <td>税抜価格</td>
      <td>ジャンル</td>
      <td>ステータス</td>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.id %>
      <td>
        <%= link_to administrator_product_path(product) do %>
          <%= product.name %>
        <% end %>
      </td>
      <td><%= product.products_explanation %></td>
      <td><%= product.non_taxed_price %></td>
      <td><%= product.genre.name %></td>
      <td><%= product.sale_status %></td>
    </tr>
  <% end %>
  </tbody>
</table>