<h3>商品一覧</h3><%= link_to "＋", new_administrator_product_path %>

<table>
  <tr></tr>
  <thead>
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>税抜価格</td>
      <td>ジャンル</td>
      <td>ステータス</td>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td>
        <%= link_to administrator_product_path(product) do %>
          <%= product.name %>
        <% end %>
      </td>
      <td><%= product.products_explanation %></td>
      <td><%= product.non_taxed_price %></td>
      <td><%= product.genre_id %></td>
      <td><%= product.sale_status %></td>
    </tr>
  <% end %>
  </tbody>
</table>