<br>
<h4>商品詳細</h4>

<div class="container">
	<div class="row">
	  <div class="col-md-4">
	     <%= attachment_image_tag @product, :products_image, size: "250x250", fallback: "no_image.jpg" %>
    </div>
    <div class="col-md-8">
      <div class="field">
				<p>
					商品名　　　　　<%= @product.name %>
				</p>
      </div><br>
      <div class="field">
				<p>
					商品説明　　　　<%= @product.products_explanation %>
				</p><br>
      </div>
      <div class="field">
				<p>
					ジャンル　　　　<%= @product.non_taxed_price %>
				</p><br>
      </div>
      <div class="field">
				<p>
					税込価格  (税抜価格)        <%= (@product.non_taxed_price * 1.1).floor %> (<%= @product.non_taxed_price %>) 円<br>
				</p><br>
      </div>
      <div class="field">
				<p>
					販売ステータス
	        <%= @product.sale_status %>
				</p>
      </div>
      <div class="actions col-md-9" style="text-align:right;">
      	<%= link_to "編集する", edit_administrator_product_path(@product), class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
    	</div>
  	</div>
	</div>
</div>