<h3>商品新規登録</h3>

<%= form_with model: @product, local:true do |f| %>
<table>
  <tr>
    <td>
      <%= attachment_image_tag @product, :products_image, :fill, 100, 100, fallback: "no_image.jpg" %><br>
      <%= f.attachment_field :products_image %>
    </td>
    <td>
      商品名<br><%= f.text_field :name %><br>
      商品説明<br><%= f.text_area :products_explanation %><br>
      ジャンル<br><%= f.select :select, [["ケーキ", "cake"], ["クッキー", "cookie"]] %><br>
      税抜価格<br><%= f.text_field :non_taxed_price %><br>
      販売ステータス<br><%= f.select :select, [["販売中", "sale"], ["売り切れ", "sold_out"]] %><br>
    </td>
    <td>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <%= f.submit "新規登録" %>
    </td>
  </tr>
</table>
<% end %>